
nav {
    display: flex;
    justify-content: space-between;
    flex: 1 auto;
    border-bottom: solid;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    /* font-size: 1.2rem; */
}
    
nav div {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

section a {
    text-decoration: underline;
}

main {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10%;
    align-items: center;
    margin-right: 5%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: grey;
}

section {
    margin: 5%;
}

#newyork {
    display: flex;
    /* justify-content: center; */
    border: 4px solid black;
    width: 45%;
    height: 45%;
    border-radius: 40%;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    width: 25%;
}
    
.socials img {
    width: 50px;
    height: 50px;
}
    
footer {
    display: flex;
    flex-direction: column;
    border-top: solid;
    padding-top: 1%;
    align-items: center;
}