/* Navigation Bar Layout */
nav {
    display: flex;
    justify-content: space-between;
    flex: 1 auto;
    border-bottom: solid;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

a {
    text-decoration: none;
    color: black;
}

/* Red highlight when hovering over navigation options */
a:hover {
    color: red;
    /* font-size: 1.2rem; */
}

/* 'About', 'Projects' and 'Blog' Layout/Spacing */
nav div {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

/* Webpage ackground colour and font */
body {
    font-family: 'Lato', sans-serif;
    background-color: grey;
}

/* Font sizing main body + padding */
main {
    font-size: 2rem;
    /* display: flex; */
    /* justify-content: center; */
    padding-top: 10%;
    padding-bottom: 10%;
}

/* Blog images sizing + borders */
article img {
    /* height: 50%; */
    width: 50%;
    border: 2px solid black;
}

/* Blog boxes background + spacing */
article {
    width: 30%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}


article h2 {
    font-size: 1.5rem;
}

/* Blog hyperlink decoration + spacing */
article a {
    background: red;
    margin-top: 4%;
    padding: 2%;
    margin-bottom: 4%;
}

/* Blog hyperlink hover styles */
article a:hover {
color: white;
}
 /* Spacing for UFC + iPhone from other blogs */
article:nth-child(4) {
    margin-top: 5%;
}

article:nth-child(5) {
    margin-top: 5%;
}

/* Blogs positioning */
section {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Spacing of social media icons */
.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    width: 45%;
}

/* Sizing of social media icons */
.socials img {
    width: 50px;
    height: 50px;
}

/* Footer border + positioning of social media icons and copyright*/
footer {
    display: flex;
    flex-direction: column;
    border-top: solid;
    padding-top: 1%;
    align-items: center;
}

/* Responsiveness for tablets */
@media only screen and (max-width: 850px) {

    article {
        width: 70%;
        border: 2px solid black;
    }
    article h2 {
        font-size: 1rem;
    }
    article:nth-child(4) {
        margin-top: 0;
    }
    
    article:nth-child(5) {
        margin-top: 0;
    }
    section {
        font-size: 1rem;
        margin: 5%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
}

/* Responsiveness for mobile devices */
@media only screen and (max-width: 500px) {
    article {
        width: 80%;
        border: 2px solid black;
    }
    section {
        display: flex;
        flex-wrap: wrap;
    }
}