/* Navigation Bar Layout */
nav {
    display: flex;
    justify-content: space-between;
    flex: 1 auto;
    border-bottom: solid;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

a {
    text-decoration: none;
    color: black;
}

/* Red highlight when hovering over navigation options */
a:hover {
    color: red;
    /* font-size: 1.2rem; */
}

/* 'About', 'Projects' and 'Blog' Layout/Spacing */
nav div {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

/* Webpage ackground colour and font */
body {
    font-family: 'Lato', sans-serif;
    background-color: grey;
    height: 100vh;
}

/* Background Jett image sizing + scale */
section {
    background: url("../photos/radiant.jpeg");
    height: 90%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 5%;
}

/* Heading sizing + background opacity */
section h2 {
    margin-top: -5%;
    margin-bottom: 5%;
    background: rgba(255, 255, 255, 0.6);
    padding: 1%;
    border: 2px solid black;
}

/* Paragraph sizing + background opacity */
section p {
    width: 50%;
    background: rgba(255, 255, 255, 0.6);
    padding: 1%;
    border: 2px solid black;
}

main {
    height: 100%;
}

/* Spacing of social media icons */
.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    width: 45%;
}

/* Sizing of social media icons */
.socials img {
    width: 50px;
    height: 50px;
}

/* Footer border + positioning of social media icons and copyright*/
footer {
    display: flex;
    flex-direction: column;
    border-top: solid;
    padding-top: 1%;
    align-items: center;
}

/* Responsiveness for tablets */
@media only screen and (max-width: 1000px) {
    section {
        background-position: center;
    }
}

/* Responsiveness for mobile devices */
@media only screen and (max-width: 600px) {
section h2 {
    font-size: 1rem;
}
section p {
    font-size: .8rem;
}
}