/* Navigation Bar Layout */
nav {
    display: flex;
    justify-content: space-between;
    flex: 1 auto;
    border-bottom: solid;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

a {
    text-decoration: none;
    color: black;
}

/* Red highlight when hovering over navigation options */
a:hover {
color: red;
}

/* 'About', 'Projects' and 'Blog' Layout/Spacing */
nav div {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

/* Webpage ackground colour and font */
body {
    font-family: 'Lato', sans-serif;
    background-color: grey;
}

/* Main heading and text sizing */
main {
font-size: 2rem;
display: flex;
justify-content: center;
align-items: center;
padding-top: 10%;
padding-bottom: 10%;
}

/* Spacing between image and heading */
section {
margin: 5%;
}

#babyjenk {
display: flex;
justify-content: center;
border: 4px solid black;
width: 25%;
border-radius: 40%;
}

/* Spacing of social media icons */
.socials {
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-between;
width: 45%;
}

/* Sizing of social media icons */
.socials img {
width: 50px;
height: 50px;
}

/* Footer border + positioning of social media icons and copyright*/
footer {
display: flex;
flex-direction: column;
border-top: solid;
padding-top: 1%;
align-items: center;
}

/* Responsiveness for tablets */
@media only screen and (max-width: 700px) {
    main {
        font-size: 1.5rem;
        }
        #babyjenk {
            width: 35%;
}

/* Responsiveness for mobile devices */
@media only screen and (max-width: 500px) {
    #babyjenk {
        border: 2px solid black;
        width: 35%;
        }
    main {
        flex-direction: column;
        }
}